/*
 * dependencies.css v1.1
 * All css dependencies place here
 *
 * License:
 * For License Information check out - https://wrapbootstrap.com
 * 
 * Copyright 2014, Stilearning
 * http://stilearning.com
 */



@import url('../../ionicons/css/ionicons.min.css');

@import url('../../jquery-icheck/skins/all.css');
@import url('../../select2/select2.css');
@import url('../../mjaalnir-bootstrap-colorpicker/css/bootstrap-colorpicker.min.css');
@import url('../../bootstrap3-datetimepicker/css/bootstrap-datetimepicker.min.css');
@import url('../../bootstrap-daterangepicker/daterangepicker-bs3.css');
@import url('../../multiselect/css/multi-select.css');
@import url('../../bootstrap-wysihtml5/bootstrap3-wysihtml5.css');
@import url('../../bootstrap-markdown/css/bootstrap-markdown.min.css');
@import url('../../dropzone/css/dropzone.css');

@import url('../../datatables/css/datatables.css');

@import url('../../messenger/css/messenger.css');
@import url('../../messenger/css/messenger-theme-flat.css');
@import url('../../messenger/css/messenger-theme-future.css');
@import url('../../messenger/css/messenger-theme-air.css');

/*@import url('../../');