/**
 * syrena-admin.css v1.1
 * Syrena admin template
 *
 * License:
 * For License Information check out - https://wrapbootstrap.com
 * 
 * Copyright 2014, Stilearning
 * http://stilearning.com
 */



/**
 * Declaration usage fonts
 */
/* @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic); */




/**
 * Include all of default syrena stylesheet
 */
@import url('main.css');
@import url('main-large-desktop.css');
@import url('main-desktop.css');
@import url('main-tablet.css');
@import url('main-phone.css');

@import url('helper.css');


/**
 * Styled components
 * Include Theme Components
 */
@import url('typography.css');
@import url('buttons.css');
@import url('components.css');
@import url('forms.css');


/**
 * Syrena default theme
 */
@import url('syrena-admin-theme-default.css');
